{% extends 'base.html' %}

{% block content %}

    <h1>Available Placements</h1>
{#    <ul>#}
{#        {% for placement in placements %}#}
{#            <li>#}
{#                <!-- Make each placement a link to the edit page -->#}
{#                <a href="{% url 'placement-edit' placement.pk %}">#}
{#                    {{ placement.site }} - Created by: {{ placement.changed_by }} on {{ placement.created }}#}
{#                </a>#}
{#            </li>#}
{#        {% empty %}#}
{#            <li>No placements available.</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{{ placements_table|safe }}

    <a href="{% url 'placement-create' %}">Create New Placement</a>



{% endblock %}