{% extends 'base.html' %}

{% block content %}

<h3>Документ "Расстановка" № {{ placement.id }} от {{ placement.created|date:'d.m.Y' }}</h3>
<form method="post">
    <div>
        <strong>Автор: </strong> {{ form.instance.changed_by.first_name }} {{ form.instance.changed_by.last_name }}
    </div>
    {% csrf_token %}
    <p>Период: {{ form.period }}</p>
    <p>Участок: {{ form.site }}</p>
{#    {{ form.cars.as_p }}#}

<div>
    <strong>Машины:</strong>
        <p></p>
    {{ cars_table|safe }}
{#        {% for car in cars_qs %}#}
{#        <label>#}
{#            <input type="checkbox" name="cars" value="{{ car.id }}" {% if car.id in selected_cars_ids %}checked{% endif %}>#}
{#            {{ car.title }} арт-л.:{{ car.artikul }} гаражн.№{{ car.garnom }}#}
{#        </label><br>#}
{#    {% endfor %}#}
</div>

<button type="submit">Сохранить</button>
</form>

<strong>Свойства участка:</strong>
<div id="site_properties_table">
</div>

{{ form.errors }}

{% if form.errors %}
<div class="alert alert-danger">
    <p>There were some problems with your data:</p>
    {{ form.non_field_errors }}
    {% for field in form %}
        {{ field.errors }}
    {% endfor %}
</div>
{% endif %}

<script>

document.addEventListener("DOMContentLoaded", function() {
    const siteSelect = document.getElementById('id_site');
    const periodSelect = document.getElementById('id_period');

    const updateSiteProperties = function() {
        const siteId = siteSelect.value;
        const periodId = periodSelect.value;
        const url = `/ajax/get_site_properties/${siteId}/${periodId}/`;

        fetch(url)
            .then(response => response.json()) // Change to .text() since we're expecting HTML
            .then(data => {
                const htmlContent = data.html;
                document.getElementById('site_properties_table').innerHTML = htmlContent;
            })
            .catch(error => console.error('Error:', error));
    };

    if (siteSelect) {
        siteSelect.addEventListener('change', updateSiteProperties);
        if (siteSelect.value) {
            updateSiteProperties();
        }
    }
    if (periodSelect) {
            periodSelect.addEventListener('change', updateSiteProperties);
        if (siteSelect.value) {
            updateSiteProperties();
        }
    }
});
</script>


{% endblock %}