{% extends 'base.html' %}

{% block content %}

<h3>Документ "Расстановка" № {{ placement.id }} от {{ placement.created|date:'d.m.Y' }}</h3>
<form method="post">
{% csrf_token %}
    <div>
        <strong>Автор: </strong> {{ form.instance.changed_by.first_name }} {{ form.instance.changed_by.last_name }}
    </div>
    {% csrf_token %}
    <p>Период: {{ form.period }}</p>
    <p>Участок: {{ form.site }}</p>
{#    {{ form.cars.as_p }}#}

<div>
<strong>Машины:</strong>
<p></p>
    <button type="button" id="toggleCarsTable">Показать все машины</button>
    <div id="fullCarsTable" style="display:none;">
        <h5>Все машины :</h5>
        {{ cars_table_full|safe }}
    </div>
    <div id="selectedCarsTable" style="display:block;">
        <h5>Машины документа:</h5>
        {{ cars_table_selected|safe }}
    </div>
{#    {{ cars_table|safe }}#}
</div>
<p></p>
    <div>
<button type="submit">Сохранить</button>
    </div>
</form>

    <div id="Placement">Расстановка: </div>
        <p></p>
{{ calculations_table|safe }}

    <p></p>
<strong>Свойства участка:</strong>
    <p></p>

<div id="site_properties_table">
</div>

{{ form.errors }}

{% if form.errors %}
<div class="alert alert-danger">
    <p>There were some problems with your data:</p>
        {{ field.errors }}
</div>
{% endif %}

<script>

document.addEventListener("DOMContentLoaded", function() {
    const siteSelect = document.getElementById('id_site');
    const periodSelect = document.getElementById('id_period');

    const updateSiteProperties = function() {
        const siteId = siteSelect.value;
        const periodId = periodSelect.value;
        const propertiesUrl = `/ajax/get_site_properties/${siteId}/${periodId}/`;

        fetch(propertiesUrl)
            .then(response => response.json()) // Make sure the response is in JSON format
            .then(data => {
                // Ensure 'html' key exists in the JSON response and contains your HTML content
                const htmlContent = data.html;
                document.getElementById('site_properties_table').innerHTML = htmlContent;
            })
            .catch(error => console.error('Error:', error));
    };

    if (siteSelect) {
        siteSelect.addEventListener('change', updateSiteProperties);
        if (siteSelect.value) {
            updateSiteProperties(); // Initial call in case there's a default selection
        }
    }

    if (periodSelect) {
        periodSelect.addEventListener('change', updateSiteProperties);
        // This additional check might be unnecessary unless you want to trigger updates when the period changes AND a site is already selected
        if (siteSelect.value) {
            updateSiteProperties();
        }
    }
});

// Assuming you have an element with ID "toggleCarsTable" for toggling the visibility of car tables
document.getElementById("toggleCarsTable").addEventListener("click", function() {
    var selectedTable = document.getElementById("selectedCarsTable"); // Ensure this ID matches your element
    var fullTable = document.getElementById("fullCarsTable"); // Ensure this ID matches your element
    if (fullTable.style.display === "none") {
        fullTable.style.display = "block";
        selectedTable.style.display = "none";
        this.textContent = "Показать машины документа";
    } else {
        fullTable.style.display = "none";
        selectedTable.style.display = "block";
        this.textContent = "Показать все машины";
    }
});


</script>


{% endblock %}