{% extends 'base.html' %}

{% block content %}


<!-- This form allows editing the placement's details -->
    <h3>Документ "Расстановка" № {{ placement.id }} от {{ placement.created|date:'d.m.Y' }} автор: {{ placement.username }}</h3>
<form method="post">
    {% csrf_token %}
        {{ form.period }}  <!-- Assuming your form includes a period field -->
    {{ form.site }}
    {{ form.cars.as_p }}  <!-- Rendering the cars field as paragraph -->
{#    {{ form.as_p }}#}
    <!-- Handling the many-to-many relationship with cars -->
{#    {{ cars_form.as_p }}#}
    <button type="submit">Save changes</button>
</form>


<div id="site_properties">
<p></p>
    <div id="placement_period" data-period-id="{{ placement.period.id }}">{{ placement.period.title }}</div>
    <div id="plan_zadanie"> </div>
    <div id="plotnost_gruza"> </div>
    <div id="schema_otkatki"> </div>
</div>



<script>
document.addEventListener("DOMContentLoaded", function() {
    const siteSelect = document.getElementById('id_site');
    // Optional: If implementing dynamic period selection, uncomment the following line
    const periodSelect = document.getElementById('id_period');

    const updateSiteProperties = function() {
        const siteId = siteSelect.value;
        // Use a fixed period ID from the placement's data attribute
        // const periodId = document.getElementById('placement_period').getAttribute('data-period-id');
        // Optional: For dynamic period selection, use the selected period's value
        const periodId = periodSelect.value;

        const url = `/ajax/get_site_properties/${siteId}/${periodId}/`;

        fetch(url)
            .then(response => response.json())
            .then(data => {
                document.getElementById('plan_zadanie').textContent = `План задание: ${data.plan_zadanie}`;
                document.getElementById('plotnost_gruza').textContent = `Плотность груза: ${data.plotnost_gruza}`;
                document.getElementById('schema_otkatki').textContent = `Плечо откатки: ${data.schema_otkatki}`;
            })
            .catch(error => console.error('Error:', error));
    };

    if (siteSelect) {
        siteSelect.addEventListener('change', updateSiteProperties);

        // Optional: If implementing dynamic period selection, add a listener for the period selector
        if (periodSelect) {
            periodSelect.addEventListener('change', updateSiteProperties);
        }

        // Trigger an update on initial load if a site is already selected
        if (siteSelect.value) {
            updateSiteProperties();
        }
    }
});
</script>


{% endblock %}