{% extends 'base.html' %}

{% block content %}

    <h1>Создание нового документа "Расстановка"</h1>
<p></p>
    <form method="post">
    {% csrf_token %}
    <p>{{ form.period.label_tag }} {{ form.period }}</p>  <!-- Render the period field explicitly -->
    <p>{{ form.site.label_tag }} {{ form.site }}</p>
    <!-- Render other fields as needed -->
        <p></p>
    <h3>Выберите машины на участок:</h3>
    {{ form.cars }}
        <p></p>
    <button type="submit">Сохранить</button>
</form>

<p></p>
    <a href="{% url 'placement-list' %}">Назад в список расстановок</a>

{% endblock %}