{% extends 'base.html' %}

{% block content %}
<div class="car-details">
    <h2>{{ car.title }}</h2>
    {% if car.photo %}
        <img src="{{ car.photo.url }}" alt="{{ car.title }}" style="max-width: 500px;">
    {% endif %}

    <p></p>
    <h4>Данные КТГ:</h4>
    <!-- Toggle Button -->
    <button id="toggleKtgTable">Показать полную таблицу</button>
<p></p>
    <div id="latestKtgTable" style="display:block;">
        <h5>Значения за {{ current_year }} :</h5>
        {{ latest_ktg_table|safe }}
    </div>
    <div id="fullKtgTable" style="display:none;">
        <h5>Все доступные значения:</h5>
        {{ full_ktg_table|safe }}
    </div>


    <!-- Trigger/Open The Modal -->
<button id="myBtn">Редактировать КТГ</button>

<!-- Assuming you already have modal setup -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>


<form id="ktgEditForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="period">Период: </label>
    <select id="period" name="period" required>
        {% for ym in year_months %}
        <option value="{{ ym.id }}">{{ ym.year }} - {{ ym.get_month_display }}</option>
        {% endfor %}
    </select>


    <label for="ktg_value"> КТГ: </label>
    <input type="text" id="ktg_value" name="ktg_value" value="{{ most_recent_ktg.KTG }}" required>

    <label for="document"> Документ основание: </label>
    <input type="file" id="document" name="document">

    <input type="submit" value="Submit">
</form>

  </div>
</div>

    <p>Емкость кузова с шапкой: {{ car.V_objem_kuzova }}</p>
    <p>Категория: {{ car.cat.name }}</p>
    <p>Создано: {{ car.time_create|date:"Y-m-d H:i" }}</p>
    <p>Статус: {{ car.get_is_published_display }}</p>
</div>


<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

// AJAX submit
document.getElementById("ktgEditForm").onsubmit = function(e) {
    e.preventDefault(); // Prevent the default form submission

    var formData = new FormData(this); // 'this' refers to the form
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}'); // Ensure CSRF token is appended

    fetch("{% url 'update_ktg' car.slug %}", {
        method: "POST",
        body: formData, // Send the form data
        headers: {
            "X-CSRFToken": "{{ csrf_token }}", // Ensure CSRF token is sent
        },
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        modal.style.display = "none"; // Close the modal on success
        // Optionally refresh part of your page or show a success message
        window.location.reload(); // Reload the page to reflect the changes
    })
    .catch((error) => {
        console.error('Error:', error);
    });
};


// Toggle between latest and full KTG tables
document.getElementById("toggleKtgTable").addEventListener("click", function() {
    var latestTable = document.getElementById("latestKtgTable");
    var fullTable = document.getElementById("fullKtgTable");
    if (fullTable.style.display === "none") {
        fullTable.style.display = "block";
        latestTable.style.display = "none";
        this.textContent = "Показать последние записи";
    } else {
        fullTable.style.display = "none";
        latestTable.style.display = "block";
        this.textContent = "Показать полную таблицу";
    }
});


</script>
{% endblock %}