{% extends 'base.html' %}

{% block content %}
    <h2>Внести/изменить {{ property_name_verbose }}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save changes</button>
    </form>

    <h3>Last 10 records for this site</h3>
<ul>
    {% for record in last_10_records %}
    <li>Дата записи:{{ record.created }} {{ record.form.changed_data }} - Внёс: {{ record.changed_by.username }} Документ: {{ record.document }} </li>
    {% endfor %}
</ul>

    {% for field, value in changed_values.items %}
    <p>{{ field }}: {{ value }}</p>
{% endfor %}
{% endblock %}
